!!!
%html
  %head
    %title Haml Coffee Online
    %script{ src: 'http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js' }
    %script{ src: 'http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.3.1/coffee-script.min.js' }
    %script{ src: 'https://raw.github.com/netzpirat/haml-coffee/master/dist/compiler/hamlcoffee.min.js' }
    %script{ src: '/javascripts/application.js' }

    %link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/application.css' }

    %link{ href: 'http://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Droid+Sans+Mono', rel: 'stylesheet', type: 'text/css' }

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33850664-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #container
      %header
        %h1 Haml Coffee Online
        %p
          Hi! I'm
          = succeed ',' do
            %a{ href: 'https://github.com/netzpirat/haml-coffee' } Haml-Coffee
          a JavaScript templating solution that implements
          %a{ href: 'http://haml.info/' } Haml
          with
          %a{ href: 'http://coffeescript.org/' } CoffeeScript
          for its logic. I run on the server side on
          %a{ href: 'http://nodejs.org/'} Node.js
          and also in the Browser. You can use me with
          %a{ href: 'https://github.com/netzpirat/haml_coffee_assets'} Haml Coffee Assets
          also with
          %a{ href: 'http://rubyonrails.org/'} Ruby on Rails
          or any framework that supports
          %a{ href: 'https://github.com/sstephenson/sprockets'} Sprockets
          like
          = succeed '.' do
            %a{ href: 'http://www.sinatrarb.com/'} Sinatra

        %p
          You can load some predefined examples to see it in action:
          %select#examples

      %fieldset#options
        %legend Options
        %ul
          %li
            %input#escapeHtml{ type: 'checkbox', checked: 'checked' }
            %label{ for: 'escapeHtml' } Escape HTML
          %li
            %input#escapeAttributes{ type: 'checkbox', checked: 'checked' }
            %label{ for: 'escapeAttributes' } Escape attributes
          %li
            %input#cleanValue{ type: 'checkbox', checked: 'checked' }
            %label{ for: 'cleanValue' } Clean values
          %li
            %input#uglify{ type: 'checkbox' }
            %label{ for: 'uglify' } Uglify
          %li
            %input#extendScope{ type: 'checkbox' }
            %label{ for: 'extendScope' } Extend scope
          %li
            %label{ for: 'format' } Format
            %select#format
              %option html5
              %option html4
              %option xhtml

      #input
        #left
          %label{ for: 'template' } Template
          %textarea#template

        #right
          %label{ for: 'data' } Data
          %textarea#data

        %button#render Render template

      #output
        %label{ for: 'result' } Result
        %textarea#result

      %footer
        Haml Coffee is developed by
        %a{ href: 'https://mksoft.ch' } Michael Kessler
        = surround '(', ')' do
          %a{ href: 'http://twitter.com/netzpirat/' } @netzpirat
        &#10025;
        Report bugs on
        = succeed '.' do
          %a{ href: 'https://github.com/netzpirat/haml-coffee/issues'} GitHub Issues
        &#10025;
        This website is
        = succeed '.' do
          %a{ href: 'https://github.com/netzpirat/haml-coffee-online'} Open Source
